<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>problem set</title>
<link rel="stylesheet" type="text/css" href="/static/css/problemset.css"/>
</head>
<body>
<div class="nav">
  <div class="div-inline"><a href="#">Red Comet</a></div>
  <div class="div-inline"><a href="/problemset/">题集</a></div>
  <div class="div-inline"><a href="/mysubmission/">我的提交</a></div>
  <div class="div-inline"><a href="/contest/">比赛</a></div>
  <div class="div-inline"><a href="/forum/">论坛</a></div>

  <div class="div-inline" style="float:right;padding-left: 0px;"><a href="/login/">退出</a></div>
  <div class="div-inline" style="float:right;padding-right: 0px;"><a href="#">{{username}}</a></div>
</div>