<!DOCTYPE html>  
<html lang="zh-CN">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>  
</head>  
<body>  
    <div id="login">  
        <h1>珠宝销售管理系统</h1>
        <form method="post" action="/login/">  
            <input type="text" placeholder="用户名" name="username"></input>  
            <input type="password" placeholder="密码" name="password"></input> 
            <div>
                <!-- <div style="float:left;"><button class="but" type="submit" name="submit" value="register">xxxxxx</button></div> -->
                <center><div style=""><button class="but" type="submit" name="submit" value="login">登录</button></div></center>
            </div>
        </form>
    </div>  
</body>
</html> 