<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<meta charset="UTF-8">
<html lang="zh-CN">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/receipt.css"/>
</head>
<body>
<center>
    <div class="wrapper">
        <center>
            <div style = "padding-top:10px;padding-bottom:5px;">清单({{store_name}})</div>
        </center>
        <hr color="#ffffff">
        <div class="header">
            <div style="text-align:left;">
                <div style="padding-left:10px; float:left; width:30%;">客户名 : {{client}}.</div>
                <div style="float:left; width:25%;">总价 : {{price}} RMB</div>
                <div style="padding-left:10px;">销售人员 : {{sales_personnel}}</div>
            </div>
            <div style="text-align:left; margin-top:10px;">
                <div style="padding-left:10px; float:left; width:30%;">商品数量 : {{number}}</div>
                <div style="float:left; width:25%;">{{date}}</div>
                <div style="padding-left:10px;">地点 : {{location}}</div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            {% for record in records %}
            <div class="father">
                <div style="float:left; padding-top:1px; padding-left:2px;">
                    <image src="{{record.image.url}}" style="width:130px; height:130px;"></image>
                </div>
                <div class="info" style="width:50%; margin-left:10px;">
                    <div class="attribute" style="height:30px;margin-top:8px;">商品描述 : {{record.description}}</div>
                    <div class="attribute" style="height:30px;">品类 : {{record.category}}</div>
                    <div class="attribute" style="height:30px;">序列号 : {{record.serial_no}}</div>
                    <div class="attribute" style="height:30px; margin-bottom:5px;" >商品大小 : {{record.size}}</div>
                </div>
                <div class="info" style="width:25%; margin-left:10px;">
                    <div class="attribute" style="height:30px;margin-top:8px;">{{record.main_material_name}}/{{record.weight}}g</div>
                    <div class="attribute" style="height:30px;">{{record.main_stone_name}}/{{record.main_stone_weight}}g</div>
                    <div class="attribute" style="height:30px;">售价 : {{record.sales_price}} RMB</div>
                    <div class="attribute" style="height:30px; margin-bottom:5px;">折扣 : {{record.discount}}%</div>
                </div>
                <!--<div class="info" style="float:right; width:30%;white-space:wrap; text-overflow:hidden;">
                    <div class="attribute">General Information : {{record.general_information}}</div>
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>
</center>
</body>
</html>